{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="imgLion">
        <img src="{{ asset('image/lion.png') }}" class="img-fluid" alt="Responsive image" >
    </div>
    <div class="container-fluid">
    <div class="blockDev">
        <div class="text"><p class="text-center">Center aligned text on all viewport sizes aaaaaaaaaaaaaaaaaaaaaaa
                aaaaaaaaaaaaaaaaaaaaa. aaaaaaaaaaaaaaaaaaaa
            aaaaaaaaaaaaaaaaaaaaaa
            aaaaaaaaaaaaaaaaaaaaaaa
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
          </div>

        <div class="displayButton">
            <div class="btnAccess"><button class="btn-3"><span>Hover Me</span></button></div>
            <div class="btnAccessRight"> <button class="btn-3"><span>Hover Me</span></button></div>
        </div>
        </div>
    </div>
</div>


{% endblock %}
